:root {
  --color-accent: oklch(52.227% 0.22948 276.33);
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}


nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}


nav ul,
nav li {
  display: contents;
}


nav a {
  flex: 1;
  text-decoration: none; 
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;                      
  font-weight: 600;                             
}

input,
textarea,
button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr ;

  gap: 1em;
  max-width: 100ch;
}

form label{
  display: grid;
  grid-template-columns: subgrid;  /* inherit the two columns from the parent */
  grid-column: 1 / -1;             /* this label occupies the full row */
  align-items: center;
}

form button { grid-column: 1 / -1; width: 100%; }

.projects {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3; /* each article spans 3 implicit rows of the parent grid */
  gap: 1em;         /* spacing between heading, image, and paragraph */
}

.projects h2 {
  margin: 0;
}

h1 {
  font-size: 400%;          /* 4× body text size for strong contrast */
  line-height: 1.1;         /* tighter leading for headings */
  text-wrap: balance;       /* nicer line breaks */
  margin-block: 0.2em 0.6em;
}

